<!-- Menu -->
<div class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="{% url 'lista_proj' %}">Home</a>
    </div>
    <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        <li><a href="{% url 'lista_proj' %}">Projetos</a></li>
        <!-- to resolve NoReverseMatch for 'admin' -->
        <li><a href="{% url 'admin:index' %}">Login</a></li>
        
      </ul>
    </div>
  </div>
</div>

